<%- include('head') %>
		<div id="header_space_cover"></div>
		<article id="dashboard" class="contents">
			<section id="cj_select">
				<div id="cj_frame">
					<div id="cj_frame_header"></div>
					<div id="cf_content">
						<div class="cf_left cf_inner">
							<div class="cf_inner_title">Create <span>그룹생성</span></div>
							<p>새로운 그룹 이름과 옵션을 설정하고 생성합니다</p>
							<button onclick="cl();">그룹생성</button>
						</div>
						<div class="cf_right cf_inner">
							<div class="cf_inner_title">JOIN <span>그룹참가</span></div>
							<p>초대 코드를 통해 기준 그룹에 참여합니다</p>
							<button onclick="ci();">그룹참여</button>
						</div>
					</div>
				</div>
			</section>
		</article>
	</section>
	<script>
		function cl(){
			const user = '<%= user  %>';
			if(!user){
				alert('로그인이 필요합니다');
			}else{
				location.href = '/group/create';
			}
		}
		function ci(){
			const user = '<%= user %>';
			if(!user){
				alert('로그인이 필요합니다');
			}else{
				location.href = '/group/join';
			}
		}
	</script>
</body>
</html>