<!DOCTYPE html>
<html>
<head>
	<title>Watch Man</title>
	<link rel="stylesheet" href="/css/wtm.css">
</head>
<body>
	<aside>
		<%- include('sidebar') %>
	</aside>
	<section id="right">
		<header>
			<%- include('header') %>
        </header>
        <div id="header_space_cover"></div>
		<article class="contents">
            <section id="manage_group">
				<div id="manage_frame_row1">
                    <div id="manage_group_member"></div><div id="manage_group_status"></div><div id="manage_group_diagnose"></div>
                </div>
                <div id="manage_frame_row2">
                </div>
            </section>
        </article>
    </section>
</body>
</html>