<%- include('head') %>
		<div id="header_space_cover"></div>
		<article class="contents">
			<section id="join_group">
				<div id="join_frame">
					<div id="join_header">
						Join <span>그룹참여</span>
					</div>
					<div id="join_content">
						<div class="join_title">
							<label>참여코드</label>
							<input type="text" class = "group_name" name="group_name" placeholder="그룹명" required>
							<span>#</span>
							<input type="text" class = "group_code" name="group_code" placeholder="고유넘버">
							<div class="group_search_btn">그룹검색</div>
							<p>* 참여코드는 [그룹명+고유넘버] 이며<br>고유넘버 미입력 시 그룹명이 일치하는 모든 항목이 표시됩니다</p>
						</div>
						<div class="search_title">
							<span>검색 결과 표시</span>
							<div class="join_permit_explain">
								<div class="join_permit_explain_true"></div>
								<span> : 승인 후 가입가능</span>
							</div>
							<div class="join_permit_explain">
								<div class="join_permit_explain_false"></div>
								<span> : 승인 필요 없음</span>
							</div>
						</div>
						<div class="search_info">
							<%#
							<div class="search_info_ele">
								<div class="permit_info_permit_false"></div>
								<span class="search_info_title">
									방공체계대대#31
								</span>
								<span class="search_info_others">
									[그룹장 : 이상윤] [참가인원 : 8명]
								</span>
								<div class="group_join_btn">
									참가신청
								</div>
							</div>
							%>
						</div>
					</div>
				</div>
			</section>
		</article>
	</section>
</body>
</html>
<script>
	var ft = function(a, b, c, d, e, f){
		/* b = 그룹명, c = 그룹코드, d = 그룹장이름, e = 그룹 참가인원 f =  허가 여부 */
		if(f == true){
			a.innerHTML = "<div class='permit_info_permit_true'></div>";
		}else{
			a.innerHTML = "<div class='permit_info_permit_false'></div>";
		}
		a.innerHTML += `<span class='search_info_title'>${b}#${c}</span>`;
		a.innerHTML += `<span class='search_info_others'>[그룹장 : ${d}] [참가인원 : ${e}명]</span>`;
		a.innerHTML += `<div class='group_join_btn' onclick="location.href='/group/join/permit/${c}/${d}/${f}/${e}'">참가신청</div>`;
	}
	var sc = document.querySelector(".group_search_btn");
	sc.addEventListener("click", function(){
		var gn = document.querySelector(".group_name");
		var gc = document.querySelector(".group_code");
		var xhr = new XMLHttpRequest();
		xhr.onload = function(){
			if(xhr.status === 200){
				var gr = JSON.parse(xhr.response);
				if(gr.length == undefined){//찾는 그룹이 1개밖에 없을 경우
					var a = document.querySelector(".search_info");
					a.innerHTML = '';
					var div = document.createElement("div");
					div.className = "search_info_ele";;
					if(gr.permit=="on"){
						ft(div, gr.name, gr.id, gr.users[0].name, gr.member, true);
					}else{
						ft(div, gr.name, gr.id, gr.users[0].name, gr.member, false);
					}
					a.append(div);
				}else{//찾는 그룹이 여러개일 경우
					var a = document.querySelector(".search_info");
					a.innerHTML = '';
					for (var i in gr){
						var div = document.createElement("div");
						div.className = "search_info_ele";
						if(gr[i].permit=="on"){
							ft(div, gr[i].name, gr[i].id, gr[i].users[0].name, gr[i].member, true);
						}else{
							ft(div, gr[i].name, gr[i].id, gr[i].users[0].name, gr[i].member, false);
						}
						a.append(div);
					}
				}
			}else{
				console.error(xhr.responseText);
			}
		}
		if(gc.value==""){
			xhr.open('GET', '/group/search/' + gn.value + '/' + '0');
			xhr.send();
		}else{
			xhr.open('GET', '/group/search/' + gn.value + '/' + gc.value);
			xhr.send();
		}
	});
</script>