<%- include('head') %>
        <div id="header_space_cover"></div>
		<article id="dashboard" class="contents">
			<section id="join_permit">
				<div id="jp_frame">
					<div id="jp_header">
						Group Manager
					</div>
					<div id="jp_content">
						<div class="jp_left jp_inner">
						<div class="jp_left_top">
							<div class="jp_inner_title">참가중인 그룹</div>
							<p>현재 참가중인 그룹입니다. 클릭하여 그룹 상세 페이지로 이동이 가능합니다</p>
							<div class="jp_status_led">
								<div class="green"></div>
								<span>: 완료</span>
								<div class="red"></div>
								<span>: 미실시</span>
								<div class="gray"></div>
								<span>: 필요없음</span>
							</div>
							<div class="jp_table_wrapper">
							<table class="table table-hover jp_left_table">
							  <thead>
							    <tr>
							      <th scope="col">#</th>
							      <th scope="col">그룹명</th>
							      <th scope="col">참가코드</th>
							      <th scope="col">참가인원</th>
							      <th scope="col" style="text-align: center;">보고 실시 여부</th>
							    </tr>
							  </thead>
							  <tbody>
								<%#
							    <tr>
							      <th scope="row">1</th>
							      <td>방공체계대대</td>
							      <td>방공체계대대#3164</td>
							      <td>(25/60)</td>
							      <td class="jp_status">
							      	<div class="gray"></div>
							      </td>
							    </tr>
								%>
								</tbody>
							</table>
							</div>
						</div>
						<div class="jp_left_bottom">
							<div class="jp_inner_title">내 그룹</div>
							<p>내가 생성한 그룹입니다. 클릭하여 그룹 관리자 페이지로 이동이 가능합니다</p>
							<div class="jp_table_wrapper">
							<table class="table table-hover jp_left_table">
							  <thead>
							    <tr>
							      <th scope="col">#</th>
							      <th scope="col">그룹명</th>
							      <th scope="col">참가코드</th>
							      <th scope="col">생성 날짜</th>
							      <th scope="col">참가인원</th>
							    </tr>
							  </thead>
							  <tbody>
								<%#
							    <tr>
							      <th scope="row">1</th>
							      <td>방공체계대대</td>
							      <td>방공체계대대#3164</td>
							      <td>2020.06.10</td>
							      <td>(25/60)</td>
							    </tr>
								%>
								</tbody>
							</table>
							</div>
						</div>
						</div>
						<div class="jp_right jp_inner">
						<div>
							<div class="jp_inner_title">승인 대기중</div>
							<p>그룹장의 승인을 기다리고있는 그룹입니다</p>
							<div class="jp_status_led">
								<div class="gray"></div>
								<span>: 승인 대기중</span>
								<div class="red"></div>
								<span>: 승인 거절됨</span>
							</div>
							<div class="jp_table_wrapper">
							<table class="table table-hover">
							  <thead>
							    <tr>
							      <th scope="col">#</th>
							      <th scope="col">그룹명</th>
							      <th scope="col">참가코드</th>
							      <th scope="col">참가인원</th>
							      <th scope="col" style="text-align: center;">승인상태</th>
							      <th scope="col" style="text-align: center;">승인요청 취소/삭제</th>
							    </tr>
							  </thead>
							  <tbody>
								<%#
							    <tr>
							      <th scope="row">1</th>
							      <td>8비 부품대대</td>
							      <td>8비 부품대대#3164</td>
							      <td>(25/60)</td>
							      <td class="jp_status">
							      	<div class="gray"></div>
							      </td>
							      <td class="jp_btn">
							      	<div>요청취소</div>
							      </td>
							    </tr>
								%>
							  </tbody>
							</table>
							</div>
						</div>
						</div>
					</div>
				</div>
			</section>
		</article>
	</section>
	<script>
		var grouping = <%- JSON.stringify(grouping) %>;
		var groupwait = <%- JSON.stringify(groupwait) %>;
		const user = <%- JSON.stringify(user) %>;
		for(var i in grouping){
			if(grouping[i].leader == user.id){/*그룹장인 경우 */
				er(grouping[i].name, grouping[i].id, grouping[i].member, grouping[i].createdAt.split('T')[0], parseInt(i)+1);
			}else{
				qw(grouping[i].name, grouping[i].id, grouping[i].member, parseInt(i)+1);
			}
		}
		function qw(q,w,e,r){/* 그룹장이 아닌경우 */
			var a = `<tr><th scope="row">${r}</th><td>${q}</td><td>${q}#${w}</td><td>(${e}/60)</td><td class="jp_status"><div class="gray"></div></td></tr>`;
			var b = document.querySelectorAll(".jp_left_table")[0];
			b.children[1].innerHTML += a;
		}
		function er(q,w,e,r,s){/* 그룹장인 경운 */
			var a = `<tr><th scope="row">${s}</th><td>${q}</td><td>${q}#${w}</td><td>${r}</td><td>(${e}/60)</td></tr>`;
			var b = document.querySelectorAll(".jp_left_table")[1];
			b.children[1].innerHTML += a;
		}
		for(var i in groupwait){
			ty(groupwait[i].group.name, groupwait[i].grid, groupwait[i].group.member, parseInt(i)+1);
		}
		function ty(q,w,e,r){
			var a = `<tr><th scope="row">${r}</th><td>${q}</td><td>${q}#${w}</td><td>(${e}/60)</td><td class="jp_status"><div class="gray"></div></td><td class="jp_btn"><div>요청취소</div></td></tr>`;
			var b = document.querySelectorAll(".jp_table_wrapper")[2];
			b.children[0].children[1].innerHTML += a;
		}
	
	</script>
</body>
</html>