<!DOCTYPE html>
<html>
<head>
	<title>Watch Man</title>
	<link rel="stylesheet" href="/css/wtm.css">
</head>
<body>
	<aside>
		<%- include('sidebar') %>
	</aside>
	<section id="right">
		<header>
			<%- include('header') %>
        </header>
        <div id="header_space_cover"></div>
		<article class="contents">
			<section id="manage_group">
			</section>
        </article>
    </section>
</body>
</html>