<!DOCTYPE html>
<html>
<head>
	<title>Watch Man</title>
	<link rel="stylesheet" href="/css/wtm.css">
</head>
<body>
	<aside>
		<div id="logo"><img alt="logo" src="/img/logo.png"></div>
		<nav id="aside_menu">
			<ul class="menu_form">
				<span class="title_li">그룹관리 체계</span>
				<li><img alt="아이콘" class="menu_icon" src="/img/icon/g1.png">그룹 생성/참여</li>
				<li><img alt="아이콘" class="menu_icon" src="/img/icon/g2.png">내 그룹 관리</li>
				<li><img alt="아이콘" class="menu_icon" src="/img/icon/g3.png">일일 자가진단</li>
			</ul>
			<ul class="menu_form">
				<span class="title_li">실시간 대응체계</span>
				<li><img alt="아이콘" class="menu_icon" src="/img/icon/s1.png">실시간 상황판</li>
				<li><img alt="아이콘" class="menu_icon" src="/img/icon/s2.png">전염병 자가진단</li>
			</ul>
			<ul class="menu_form">
				<span class="title_li">감염병 세계현황</span>
				<li><img alt="아이콘" class="menu_icon" src="/img/icon/i1.png">감염병 세계현황</li>
			</ul>
		</nav>
	</aside>
	<section id="right">
		<header>
			<div class="something"></div>
			<div class="alarm"><img alt="알람" src=""></div>
			<% if(true) { %>
				<div class="login">
					<form>
						<span>
							<label> 아이디 </label>
							<input type="text" name="userId" required/>
						</span>
						<span>
							<label> 비밀번호 </label>
							<input type="password" name="password" required />
						</span>
						<button type="submit"> 로그인 </button>
					</form>
					<button onclick="location.href='/join';">회원가입</button>
				</div>
			<% } %>
			<%#
			<div class="profile">
				<div class="profile_img">
					<div><img src="/img/profile.jpg" alt="프로필사진"></div>
				</div>
				<div class="profile_content">
					<p class="profile_name"><b>이상윤</b><span>님</span></p>
					<div class="btn logout_btn">로그아웃</div>
				</div>
			</div>
			%>
		</header>
		<div id="header_space_cover"></div>
		<article id="dashboard" class="contents">
			<section class="router">실시간 대응체계 → 실시간 상황판</section>
			<section class="">
		</article>
	</section>
</body>
<script>
	function pop(){
		window.open("join", "", "top=200px, left=600px, width=500px, height=500px");
		document.body.style.background = 'gray';
	}
</script>
</html>