<!DOCTYPE html>
<html>
<head>
    <title>회원가입 페이지</title>
</head>
<body>
    <div class="loginForm">
        <form action='/auth/join' method='post'>
            아이디<input type="text" name="userid">
            이름<input type="text" name="username">
            비밀번호<input type="password" name="password">
            <button type="submit">회원가입</button>
            <% if(joinError) { %>
                <p><%=joinError %></p>
            <% } %>
        </form>
    </div>
</body>
</html>