<!DOCTYPE html>
<html>
<head>
	<title>Watch Man</title>
	<link rel="stylesheet" href="/css/wtm.css">
</head>
<body>
	<aside>
		<%- include('sidebar') %>
	</aside>
	<section id="right">
		<header>
		</header>
		<div id="header_space_cover"></div>
		<article id="dashboard" class="contents">
			<section id="router">회원가입</section>
			<section id="register">
				<div id="register_frame">
					<div class="register_header">Register<span>&nbsp;&nbsp;회원가입</span></div>
					<form method="post" action="/auth/join">
					<div class="register_content">
							<div class="reg_ele_block">
								<div class="reg_input_element">
									<label for="userid">아이디<span>(id) *</span></label>
									<input type="text" name="userid" placeholder="Id">
								</div>
								<div class="reg_input_element">
									<label for="password">비밀번호<span>(password) *</span></label>
									<input type="password" name="password" placeholder="Password">
								</div>
							</div>
							<div class="reg_ele_block">
								<div class="reg_input_element">
									<label for="name">이름<span>(name) *</span></label>
									<input type="text" name="name" placeholder="Name">
								</div>
								<div class="reg_input_element">
									<label for="gender">성별<span>(gender) *</span></label>
									<select name="gender">
										<option>남성 (male)</option>
										<option>여성 (female)</option>
									</select>
								</div>
							</div>
							<div class="reg_ele_block">
								<div class="reg_input_element">
									<label for="email">이메일<span>(email)</span></label>
									<input type="text" name="email" placeholder="E-mail">
								</div>
								<div class="reg_input_element">
									<label for="phone">전화번호<span>(phone)</span></label>
									<input type="text" name="phone" placeholder="Phone">
								</div>
							</div>
							<div class="reg_ele_block">
								<div class="reg_chk">
									<input type="checkbox" name="c1">
									<label>개인정보 조항 어쩌구 저쩌구를 뭐 제공한다 와치맨사이트 디비에 어쩌구 비밀번호는 암호화 저장이 됨 (필수) </label>
								</div>
								<div class="reg_chk">
									<input type="checkbox" name="c2">
									<label>휴대전화, 이메일 등 그룹 대표에게 전달 어쩌구를 동의한다 (선택) </label>
								</div>
							</div>
							<div class="reg_ele_block register_submit">
								<button type="submit">회원가입</button>
							</div>
					</div>
					</form>
				</div>
			</section>
		</article>
	</section>
</body>
</html>