
*{
	font-family: 'Malgun Gothic';
	font-weight: normal;
	margin:0;
	padding:0;
	box-sizing: border-box;
	list-style: none;
}
html{background:#f3f3f3;}
aside{
	max-width:230px;
	width:100%;
	height:100%;
	position: fixed;
	display: block;
	background:#323A47;
	padding:20px;
}
#right{
	display: block;
	margin-left:230px;
	position: relative;
}
#header_space_cover{display: block;width:100%;height:90px;}

/*aside*/
#logo{width:100%;text-align: center;padding-top:15px;padding-bottom:25px;cursor: pointer;}
#aside_menu{color:#7e8b9c;font-weight: bold;font-size:12pt;padding:0 15px;}
#aside_menu>ul:not(:first-child){
	margin-top:60px;
}
#aside_menu .title_li{
	display: block;
	line-height: 35px;
	padding-bottom: 10px;
}
#aside_menu .title_li::after{
	display: block;
	position: absolute;
	content:"";
	width:170px;
	height:2px;
	background:#7e8b9c;
	left:30px; 
}
.menu_form>li{cursor: pointer;transition:color 0.3s;}
.menu_form>li:hover{color:white;}
.menu_form>li:not(:first-child){
	margin-top:4px;
}
.menu_form>li img{margin-left:3px;margin-right:5px;}


/* router*/
#router{font-weight: bold;}


/*section*/
header{
	width:calc(100% - 240px);
	height:80px;
	position: fixed;
	background: #fff;
	box-shadow: 0px 5px 20px 7px rgba(0,0,0,.1);
	padding:0px 40px;
}
header .profile{
	position: absolute;
	top:0;
	right:40px;
	width:220px;
	background: #f8f8f8;
	height:100%;
	border:#f3f3f3 2px solid;
	border-top:none;
}
header .profile > div{
	display: block;
	float: left;
	height: 100%;
}
header .profile > div:first-child{
	width:30%;
	line-height: 80px;
}
header .profile > div:last-child{
	width:70%;
}
	.profile .profile_img > div{
		width:55px;height:55px;
		display: inline-block;
		border-radius: 100%;
		overflow: hidden;
		position: relative; 
		vertical-align: middle;
		margin-left: 5px;
	}
	.profile .profile_img > div img{  /*임시 */
		position: absolute;
		top:60%;left:70%;
		transform: translate(-50%,-50%);
		width:130px;
	}
	.profile .profile_content{
		padding:15px 5px;
	}
		.profile_content p{font-size:13.5pt;}
		.profile_content span{font-size:0.95em;}
		.profile_content .logout_btn{
			padding:3px 12px;
			background:#cfcfcf;
			border-radius: 8px; 
			display: inline-block;
			font-size:0.8em;
			font-weight: bold;
			margin-top:4px;
			cursor: pointer;
		}


/*contents */
.contents{padding:20px 30px;}


/*회원가입*/
#register{display: block;position: relative;margin-top:20px;}
#register_frame{
	display: block;
	max-width: 900px;
	width:100%;
	height:620px;
	background: white;
	box-shadow: 2px 5px 10px 8px rgba(0,0,0,.2);
	border-radius: 10px;
	position: relative;
	left:50%;
	transform: translateX(-50%);
}
#register_frame .register_header{
	width:100%;
	height:75px;
	border-top-left-radius: 10px;
	border-top-right-radius:10px;
	background:#313a46; 
	padding:13px 30px;
	font-size: 2em; 
	color:white;
}
#register_frame .register_header span{
	font-size:0.6em;
	font-weight: bold;
}
#register_frame .register_content{
	width:100%;
	padding:30px 55px;
}
	.register_content .reg_input_element{
		display: inline-block;
		width:50%;
		float:left;
	}
	.reg_ele_block{
		display: block;
		width:100%;
		height:110px;
	}
	.reg_input_element	label{
		display: block;
		font-weight: bold;
		color: #3b3b3b;
	}
	.reg_input_element	label span{
		font-size:0.8em;
		font-weight: bold;
		margin-left: 3px;
	}
	.reg_input_element input[type=text]
	,.reg_input_element input[type=password]
	, .reg_input_element select{
		width:360px;
		height:37px;
		padding:3px 10px;
		border:2px solid #777777;
		border-radius: 8px;
		box-shadow: 2px 4px 3px 1px rgba(0,0,0,.15);
		margin-top:10px;
		margin-left: 5px
	}
	.reg_chk{padding:0px 13px;}
	.reg_chk input[type=checkbox]{}
	.reg_chk label{
		font-size: 0.9em;
		font-weight: bold;
		color:#3B3B3B;
	}
	.reg_chk:first-child{
		margin-bottom: 20px;
	}
	.register_submit{
		text-align: right;
	}
	.register_submit button{
		padding:10px 20px;
		border:none;
		border-radius:10px;
		background: #939393;
		color:#fff;
		font-weight: bold;
		font-size: 0.9em;
		cursor: pointer;
	}
	.login form{
		display: inline-block;
	}